*{
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}
.row {
    --bs-gutter-x: 0;
}

.slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.banners {
    transition: all 1s;
}

.banners:hover{
    transform: scale(1.02);
}

.insta {
    font-size: 40px;
}

.publicity-intagram {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);

}

.publicity-intagram:hover {
    color: rgba(0, 0, 0, 0.541);
}

.Link {
    color: black;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    animation: rotate 1.5s ease-in infinite alternate;
}
.loader::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    color: #7a7a7a;
    background: currentColor;
    width: 64px;
    height: 32px;
    border-radius: 0 0 50px 50px;
}
.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    background: rgb(0, 0, 0);
    width: 8px;
    height: 64px;
    animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
    100% { transform: rotate(360deg)}
}